body{
    background-color: #f0f0f0;
    margin: 32px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 8px 8px 10px 2px #0000001a;
    padding: 20px;
    border-radius: 10px;
    border: 0.2px solid #0000001a;
}
.nav-items span{
    text-decoration: none;
    padding: 8px;
    color: #000;
    font-size: 14px;
}
.logo{
    font-size: 14px;
    color: #880404;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-items span:hover{
    color: #880404;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}
.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip-text {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  color: #000000;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
  border: 0.2px solid #880404;
  opacity: 0;
  visibility: hidden;
  transition:  0.5s ease;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

