body{
    font-family: Arial, sans-serif;
    margin: 48px;
    background-color: #f9f9f9;
}
.container{
    display: flex;
    justify-content: space-between;
    border: 0.2px solid #ccc;
    padding: 48px;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}
button{
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 14px 14px;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    margin: 2px 32px;
}
.left-container, .right-container{
    width: 40%;
}
.right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
dl{
    border: 0.2 solid #ccc;
    border-radius: 10px;
    width: auto;
    background-color: #e2e1e1;
    padding: 10px;
}
dd{
    margin: 8px 0 16px 0;
}
.progress-ring {
  --progress: 65;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background:
    conic-gradient(
      #2563eb calc(var(--progress) * 1%),
      #e5e7eb 0
    );
  display: grid;
  place-items: center;
  margin-bottom: 20px;
}

.ring {
  width: 90px;
  height: 90px;
  background: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.ring span {
  font-size: 22px;
  font-weight: 600;
  color: #111;
}




